!!!
%html
  %head
    %title WebDev New Parts
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection, print', :href => 'resources/slidy.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection, print', :href => 'resources/local.css'}
    %link{:href => "resources/print.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "resources/desert.css", :type => "text/css", :rel => "stylesheet"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js", :type => "text/javascript"}
    %script{:type => "text/javascript", :src => "resources/prettify.js"}
    %script{:src => 'resources/slidy.js', :charset => 'utf-8', :type => 'text/javascript'}
    %script{:src=>"http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML", :type=>"text/javascript"}
    :coffeescript
      $(document).ready -> prettyPrint()
    :javascript
      function runWorker() {
          var worker = new Worker('resources/mersenne_prime.js');
          worker.onmessage = function(e) {
              alert(e.data ? "Found a Mersenne Prime!" : "Womp womp.");
          };
          worker.postMessage(2202);
          worker.postMessage(2203);
      }

  %body
    .slide
      .bigt
        %span Web Development: The New Stuff

    .slide
      .bigt
        %span Mersenne Primes

    .slide
      %div.realbig \( 2^p - 1 \)
      %div.realbig may be prime!

    .slide
      %h1 Front End Web
      %h1 HTML + CSS + JAVASCRIPT
      .note 
        %li test of note
        %li there is stuff here!

    .slide
      %h1 This is not art
      %h3 it just feels kinda artsy
      .note 
        %li test of note2
        %li there is stuff here!

    .slide
      %h1 HTML5
      %h1 HAML/SLIM/ERB
    .slide
      %h1 CSS: The Old Stuff
      %ul.afewpoints
        %li a:hover
        %li a:first-line
        %li a.class &gt; span
    .slide
      %h1 CSS3 Selectors
      %ul.afewpoints
        %li a[href="http://google.com"]
        %li img[class~="filler"] <!-- One in a space-separated list --> 
        %li img[src$=".png"]
        %li img[src*="images/"]
    .slide#pseudoclasses
      %h1 CSS3 Pseudo-Classes
      %ul.afewpoints
        %li tr:nth-child(odd)
        %li tr:nth-child(even)
      %table{:style=>"border:4px solid #FFF"}
        %tr
          %td 2
          %td 3
        %tr
          %td 5
          %td 7
        %tr
          %td 13
          %td 17
        %tr
          %td 19
          %td 31
    .slide
      %h1 CSS3 Properties
      %div.roundy
        %div.centervertically{:style=>""}
          Rounded Corners!
      .note
        border-radius: 20px;
    .slide
      %h1 CSS3 Properties
      %div.roundy.shadow
        %div.centervertically{:style=>""}
          Box Shadows!
      .note
        box-shadow: 0px 0px 40px rgba(255,255,255,0.6);
    .slide
      %h1 CSS3 Properties
      %div.roundy.shadow_inset
        %div.centervertically
          Inset Shadows!
      .note
        box-shadow: 0px 0px 40px rgba(255,255,255,0.6) inset;
    .slide
      %h1 CSS3 Properties
      %div.roundy.shadow.gradient
        %div.centervertically
          Gradients!
      .note
        box-shadow: 0px 0px 40px rgba(255,255,255,0.6);

    .slide
      %h1 Javascript History API
      %a{:href=>"mersenne.html",:onclick=>"javascript:history.pushState({}, 'Another Page!', 'mersenne.html#('+(w3c_slidy.slide_number+1)+')');return false;"}
        %div.roundy
          %div.centervertically
            Go to mersenne.html
      .note
        history.pushState({},'Title', 'mersenne.html')
    .slide
      %h1 Javascript Geolocation
      %a{:onclick=>"javascript:navigator.geolocation.getCurrentPosition(function(s){alert(s.coords.latitude + ', ' + s.coords.longitude)})"}
        %div.roundy
          %div.centervertically
            Find Me!
      .note
        navigator.geolocation.
        getCurrentPosition(callback)
    .slide
      %h1 Web Workers
      %pre.prettyprint
        %code
          :preserve
            var worker = new Worker('resources/mersenne_prime.js');
            worker.onmessage = function(e) {
                alert(e.data ? "Found a Mersenne Prime!" : "Womp womp.");
            };
            worker.postMessage(2202);
            worker.postMessage(2203);
      %a{:onclick=>"javascript:runWorker();"}
        %div.roundy
          %div.centervertically
            Run Worker!
    .slide 
      %h1 JAVASCRIPT
      %pre.prettyprint
        %code
          :plain
            var LLT = function(p) {
                var s = BigInteger(4);
                var M = BigInteger(2).pow(p).subtract(1);
                for (var i=0; i &lt; (p-2); i++) {
                    s = s.square().subtract(2).remainder(M);
                }
                if (!s.compare(0)) {
                    /* Found a prime */
                    return true;
                } else {                 
                    return false;
                }                       
             }

    .slide
      .bigt
        %span{:contenteditable => 'true'} Content Editable*
      .note
        *no really, try it!

    .slide
      Brian Stack &lt;bis12@case.edu&gt;
      %br
      Tom Dooner &lt;ted27@case.edu&gt;
